*{
	margin: 0;
	padding: 0;
	font-family: calibri;
}

.container {
	padding: 5px;
    /* background: rgb(229, 247, 131); */
    background: rgb(26, 54, 37);
}

.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: rgb(29, 167, 86);
	border-radius: 20px;
	
}

	.header {
	padding: 10px 0px;
    text-align: center;
    color:white;
	font-size: 50px;
	font-weight: 600;
	order:1;
	}

	.homebutton{order:0;}
	
	.button {
		padding: 31px 45px;
		background-color: white;
		display: block;
		border-radius: 20px;
		font-family: cooper;
		font-weight: bold;
		transition-duration: 0.4s;
        text-align: center;
        border: black solid 2px;
	 }
	
	 .button:hover {
	  background-color: #4CAF50; /* Green */
	  color: green;
	}
	.contactbutton {order:2;}
	
.nonnav{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}


.mainbox{
  padding: 30px 30px; 
  /* border: solid green 2px; */
  width: 40vw;
}
    .text{
        font-size:20px;
        color:white;
	}

	.img{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

		.freeze{
		position: relative;
		width: 70%;
		border: solid black 2px;
		}

		.logos{
			/* border: solid black 2px; */
			width: 28%;
			font-weight: 600;
		}

.innerText{display:none; color:white; font-size: 40px;}
.freeze:hover .innerText{
    display:block;
    position:absolute;
    top: 75%;
    left: 30%;
}

.vid{
font-size:15px;
  text-align: center;
  width:50vw;
  height: 35.6vw;
}

.dropbtn {
	padding: 21px 31px;
    background-color: white;
    border: black solid 2px;
	display: block;
	border-radius: 20px;
	font-family: cooper;
	font-weight: bold;
	transition-duration: 0.4s;
}

.dropdown {
    display: flex;
    flex-direction: column;
    /* display: inline-block;  */
}
.dropdown-content {display: none;}
.dropdown-content a {
	background: rgb(29, 167, 86);
    color: black;
    display: block;
    font-family: cooper;
    border: black solid 2px;
    border-radius: 20px;
    padding: 7.5px 20px;
    text-align: center;
    
}
.dropdown:hover .dropdown-content {display:block;}
.dropdown-content a:hover {background-color: white;}


.ig:hover{
	border-radius: 50px;
}
.yt:hover{
    border-radius: 40px;
}
.me{border-radius: 20px;}
.me:hover{border-radius: 40px;}

.instavids{
    display:block;
    flex-direction: row;
    text-align: center;
}


@media (max-width:1000px){
	.nonnav{
	flex-direction: column;
	align-items: center;
	}
	.dropdown{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
        }
    .dropdown:hover .dropdown-content {display:flex;
        flex-wrap: wrap;}
	.mainbox{
		width: 90vw;
	}
    .vid{
		width:92vw;
    }
}
