*{
	margin: 0;
	padding: 0;
	font-family: calibri;
}

.container {

	padding: 5px;
	background: black;
}

.nav{
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	/* background: rgb(29, 167, 86); */
	background: rgb(22, 71, 2);	
}

	.header {
	width:100vw;
	padding: 30px 0 30px 15%;
	text-align: center;
	color:white;
	font-size: 50px;
	font-weight: 600;
	/* border: white solid 2px; */
    }
    .logos{
        /* border: solid white 2px; */
        width: 25vw;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .fb{width: 60px;}

    .ig{width: 60px;}
	
.flex1{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}


.mainbox{
font-size:20px;
padding: 20px; 
  /* border: solid green 2px; */
  width: 40vw;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}
    .text{
	/* border: solid wheat 2px; */
	/* width: 100%; */
    color: white;
    
    }

    .boxes{display:flex;
    flex-direction: row;}

    .box1{
        /* display:flex; */
        width: 70%;
        /* border: solid white 2px; */
    }
    .box2{
        /* border: solid white 2px; */
        width: 30%;
        text-align: center;
    }


.vid{
font-size:15px;
  text-align: center;
  width:49.3vw;
  height: 42vw;
}


.dropdown {
    display: flex;
    flex-direction: column;
}
    .dropbtn {
        padding: 21px 30px;
        background-color: white;
        color:black;
        border: black solid 2px;
        display: block;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: 0.4s;
    }

    .dropbtn2 {
        padding: 10px; 
        background-color: white; 
        color:black;
        display: flex;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
    }
.dropcon {display: none; padding:0 10px;}
.cover{display:block;padding:0 10px;}
.dropdown-content {display: none;}
.dropdown-content a {
	background: rgb(22, 71, 2);	
    color: white;
    display: block;
    border: black solid 2px;
    border-radius: 10px;
    padding: 7.5px 20px;
	text-align: center;  
	text-decoration: none;
}
.dropdown:hover .dropdown-content {display:block;}
.dropdown-content a:hover {background-color: white; color: black;}

.fb:hover{border-radius: 30px;}
.yt:hover{border-radius: 30px;}
.ig:hover{border-radius: 30px;}
footer{text-align: center;}

@media (max-width:1000px){
	.flex1{
	flex-direction: column;
	align-items: center;
	}
	.dropdown{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
        }
    .dropdown:hover .dropdown-content {display:flex;
		flex-wrap: wrap;}

	.mainbox{
		width: 90vw;
	}
    .vid{
		width:92vw;
	}
	.header{
		width: 90vw;
		padding: 4px 0px;
	}
	.logos{
		flex-direction: column;
	}
}
